.whiteButton {
    color: white;
    background-color: black;
    border-radius: 0px;
    border: 0px solid white;
    width: '33%';
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }

  .whiteBGButton {
    color: black;
    background-color: white;
    border-radius: 0px;
    border: 2px solid rgb(11, 194, 62);
    width: '80%';
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    padding-left:5px;
    padding-right:20px;
    padding-top: 1px;
    padding-bottom: 5px;
  }


  .smallwhiteButton {
    color: white;
    background-color: black;
    border-radius: 0px;
    border: 0px solid white;
    width: '33%';
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }

.orangeButton {
    color: rgb(232, 141, 35);
    background-color: black;
    border-radius: 0px;
    border: none;
    width: "33%";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  .largegreenButton {
    display: inline-block;
    border-radius: 25px;
    border: 4px solid rgb(0, 45, 203);
    background: rgb(11, 194, 62);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    width: 18%;
    padding: 12px;
    transition: all 0.4s;
    cursor: pointer;
 }

 .greenButton {
    display: inline-block;
    border-radius: 25px;
    border: 4px solid white;
    background: rgb(11, 194, 62);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    width: 8%;
    padding: 12px;
    transition: all 0.4s;
    cursor: pointer;
 }

 .clgreenButton {
    display: inline-block;
    border-radius: 25px;
    border: 4px solid rgb(0, 45, 203);
    background: rgb(11, 194, 62);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 22%;
    padding: 4px;
    transition: all 0.4s;
    cursor: pointer;
 }

  .orangeAvatar  {
    background: rgb(232, 141, 35);
    color: white;
  }

  .label1 {
    text-align: left;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;  
  }

  .label2 {
    text-align: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;  
  }

  .label3 {
    text-align: left;
    font-size: 105px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(232, 141, 35);  
  }

  .label4 {
    text-align: left;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(232, 141, 35);  
  }

  .label5 {
    text-align: left;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;  
  }

  .label6 {
    background-color: rgb(0, 45, 203);
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;  
    padding:30px;
  }

  .label7 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 45, 203);  
    padding:3px;
  }

  .label8 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;  
    padding:3px;
  }

  .label9 {
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: rgb(0, 45, 203);  
    padding:3px;
  }

  .label10 {
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 505;
    color: black;
    padding:3px;
  }

  .label11 {
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
    padding-left: 5;
    border: 0;

  }

  .label12 {
    text-align: left;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;  
    border: 0;
  }

  .label13 {
    text-align: left;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 45, 203);  
  }

  .tabledesign{
    box-shadow: none;
    border: 1;
  }

  .tablerowdesign{
    padding-top: 100px;
  }
  
  .searchbar{
    align-items: center;
    width:100%
    
  }
  .largegreenImage {
    color: green;
    width: 256px;
    height: 256px;
  }

  .largeblueImage {
    width: 512px;
    height: 512px;
  }

  .blueImage {
    width: 384px;
    height: 384px;
  }

  .faiconsearchbox {
  width: 100%;
  position: relative;
}

.faiconsearchbox a {
  color: blue;
  position: absolute;
  right: 15px;
  top: 15px;
}

.searchinput {
  position: absolute;
  padding: 10px;
  border-radius: 25px;
  width: 30%;
  font-family: Arial;
  font-size: 16px;
  color: black;
  text-align: left;
  border: 4px solid rgb(232,141,35);
}

.searchlabel {
  position: relative;
  background: none;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  left: 1em;
  top: 0.75em;
  cursor: text;
  transition: top 350ms ease-in, font-size 30ms ease-in;
}


.clickyclick{
  display: inline-block;
  border-radius: 25px;
  color: #2027C5;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  width: 22%;
  padding: 4px;
  transition: all 0.4s;
  cursor: pointer;

}


















.logoaesthetic{
  color: #2027C5;
  font-family: 'Manrope', sans-serif;
}